<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beikai.springbootinterceptorandfilter.mapper.LoggerMapper" >

    <insert id="addRequestLogger" parameterType="com.beikai.springbootinterceptorandfilter.model.RequestLoggerModel">
        <selectKey resultType="Int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
      INSERT into request_logger(requestIp, requestMethod, requestParams, requestMessage, methodDescription,
       requestTime, responseTime, responseCode, responseParams, responseMessage)
      VALUES(#{requestIp},#{requestMethod},#{requestParams},#{requestMessage},
      #{methodDescription},str_TO_DATE(#{requestTime},'%Y-%m-%d %H:%i:%S'),
      str_TO_DATE(#{responseTime},'%Y-%m-%d %H:%i:%S'),#{responseCode},#{responseParams},#{responseMessage});
    </insert>

    <insert id="addLogger" parameterType="com.beikai.springbootinterceptorandfilter.model.LoggerModel">

    </insert>

    <update id="updateRequestLogger" parameterType="com.beikai.springbootinterceptorandfilter.model.RequestLoggerModel">
        update request_logger
        <trim prefix="set" suffixOverrides=",">
            <if test="responseCode != null and responseCode != ''" >responseCode=#{responseCode},</if>
            <if test="responseParams != null and responseParams != ''" >responseParams=#{responseParams},</if>
            <if test="responseMessage != null and responseMessage != ''" >responseMessage=#{responseMessage},</if>
            <if test="responseTime != null and responseTime != ''" >responseTime=str_TO_DATE(#{responseTime},'%Y-%m-%d %H:%i:%S'),</if>
        </trim>
        where id = #{id}
    </update>

    <select id="getLog" resultType="com.beikai.springbootinterceptorandfilter.model.RequestLoggerModel"
            parameterType="com.beikai.springbootinterceptorandfilter.model.LoggerModel">
      select a.id,a.requestIp,DATE_FORMAT(a.requestTime,'%Y-%m-%d %h:%m:%s') requestTime,
      a.requestMethod,a.requestParams,a.methodDescription,
        DATE_FORMAT(a.responseTime,'%Y-%m-%d %h:%m:%s') responseTime, a.responseCode, a.responseParams, a.responseMessage
      from request_logger a where 1 = 1
      <if test="name != null and name != ''">
          and a.requestParams like concat(concat('%',#{name}),'%')
      </if>
    </select>

</mapper>